replicaCount: 1
image:
  repository: loretta-auth-service
  tag: latest
port: 8081
usesDb: true
dbName: loretta_auth
usesRedis: true
usesKafka: false
resources:
  requests:
    cpu: 50m
    memory: 192Mi
  limits:
    cpu: 500m
    memory: 384Mi
extraEnv: []
