server:
  port: 8084

spring:
  application:
    name: transaction-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/loretta_transaction}
    username: ${DB_USERNAME:loretta}
    password: ${DB_PASSWORD:loretta_secret}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: transaction-service
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: com.lorettabank.shared.event

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://eureka:eureka@localhost:8761/eureka}

account-service:
  url: ${ACCOUNT_SERVICE_URL:http://localhost:8083}
customer-service:
  url: ${CUSTOMER_SERVICE_URL:http://localhost:8082}

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  api-docs:
    path: /api/v1/transactions/v3/api-docs
