apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: loretta-bank-client
    newName: ghcr.io/your-org/loretta-bank-client
    newTag: latest
