replicaCount: 1
image:
  repository: loretta-reporting-service
  tag: latest
port: 8087
usesDb: true
dbName: loretta_reporting
usesRedis: false
usesKafka: true
resources:
  requests:
    cpu: 50m
    memory: 192Mi
  limits:
    cpu: 500m
    memory: 384Mi
extraEnv: []
