.userContainer {
  display: flex;
}

.sidebar {
  display: block;
  background-color: #fff;
  padding: 15px;
}

.sidebar ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  height: 500px;
  list-style-type: none;
  margin-right: 15px;
}

.sidebar h3 {
  color: #034078;
}

.sidebar ul li {
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.sidebar a {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  display: block;
  background-color: transparent;
}
