replicaCount: 1
image:
  repository: loretta-audit-service
  tag: latest
port: 8086
usesDb: true
dbName: loretta_audit
usesRedis: false
usesKafka: true
resources:
  requests:
    cpu: 50m
    memory: 192Mi
  limits:
    cpu: 500m
    memory: 384Mi
extraEnv: []
