replicaCount: 1
image:
  repository: loretta-transaction-service
  tag: latest
port: 8084
usesDb: true
dbName: loretta_transaction
usesRedis: false
usesKafka: true
resources:
  requests:
    cpu: 50m
    memory: 192Mi
  limits:
    cpu: 500m
    memory: 384Mi
extraEnv: []
