.container {
    border-radius: 5px;
    box-shadow: 5px 5px 25px hsl(0, 0%, 0%);
    padding: 20px 30px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    height: auto;
    display: inline-block;
    background-color:white;padding-bottom: 0;
}
  
.accountImage {
    height: 25px;
    width: auto;
}

.accountDetails {
    display: flex;
    padding: 10px 0;
}

.accountBalance {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    padding-right: 40%;
}
  
.accountDescription {
    text-align: left;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.accountButtons {
    display: flex;
    justify-content: end;
    padding: 10px 0;
}
  
.accountBtn {
    border-radius: 3px;
    width: 90px;
    height: 40px;
    color: #034078;
    background-color: white;
    border: none;
    position: relative;
}

.accountBtn:hover {
    background-color: #0340785d;
    color: black;
}


.payDropDown, .buyDropDown, .manageDropDown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 5px;
    background: linear-gradient(90deg, #012A4A, #034078);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.payDropDown.show, .buyDropDown.show, .manageDropDown.show {
    visibility: visible;
    opacity: 0.95;
}

.payDropDown ul, .buyDropDown ul, .manageDropDown ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 20px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.payDropDown h3, .buyDropDown h3, .manageDropDown h3 {
    margin: 0;
    display: block;
    padding: 12px;
    text-align: left;
}

.payDropDown li, .buyDropDown li, .manageDropDown li {
    margin: 0;
    display: block;
    padding: 7px;
    text-align: left;
}

.payDropDown a, .buyDropDown a, .manageDropDown a {
    color: white;
    padding: 5px 5px;
    margin: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.payDropDown a:hover, .buyDropDown a:hover, .manageDropDown a:hover {
    background-color: #F0F0F0;
    color: #012A4A;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .card {
        width: 100%;
        padding: 0px;
    }
}