.header {
    background: linear-gradient(90deg, #012A4A, #034078);
    box-shadow: 0 0 25px hsl(0, 0%, 0%);
    padding: 0;
    padding-top: 15px;
    width: 100%;
    position: relative;
    z-index: 1000;
    margin: 0;
}

.header a {
    text-decoration: none;
}

.head {
    margin: 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    padding: 0;
    width: 20px;
    height: auto;
    border-radius: 5px;
    font-size: 1.8rem;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo h1 {
    padding-left: 15px;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.logo h1:hover {
    color: #034078;
}

.auth {
    background-color: #012A4A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 0;
}

.auth:hover {
    background: linear-gradient(90deg, #012A4A, #034078, #012A4A);
}

.auth li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.auth a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.user:hover {
    color: white;
    background-color: black;
}

.firstName:hover {
    color: white;
}

.dp {
    padding: 0;
    margin: 0;
    height: 30px;
    transition: transform 0.3s ease;
}

.dp:hover {
    transform: scale(1.1);
}

.firstName {
    padding: 0 10px;
    margin: 0;
}

.signOutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    justify-content: space-between;
    background: none;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    gap: 0;

}

.signOutButton a {
    color: black;
    padding: 5px 10px;
    margin: 0;
}

.lockIcon {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}

.signOutButton:hover {
    background-color: white;
    transition: transform 0.3s ease;

}

.signOutButton:hover a {
    color: black;
}

.hamburger {
    display: none;
    margin-right: 20px;
}

.hamburger h1 {
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.navbar {
    background: linear-gradient(90deg, #034078, #012A4A);
    margin: 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.home, .transact, .buy, .apply, .borrow {
    margin: 0 20px;
    padding: 0;
}

.navbar  ul li p:hover {
    background-color: #012A4A;
}

.navbar  ul li p {
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.navbar ul li.transact p::after,
.navbar ul li.buy p::after,
.navbar ul li.apply p::after {
    content: " ▾";
    font-size: 1.2rem;
    margin-left: 5px;
    color: #FFFFFF;
}

.navbar ul li a:hover {
    background-color: #034078;
    color: #FFFFFF;
    transform: translateY(-3px);
}

.quickLinks {
    width: 150px;
    height: 20px;
    border: solid #034078;
    border-radius: 5px;
    color: black;
    background-color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quickLinks::after {
    content: " ▾";
    font-size: 1.2rem;
    margin-left: 5px;
    color: white;
}

.quickLinks:hover {
    background-color: #034078;
    color: white;
    transition: transform 0.3s ease;
}

.quickLinksDropDown {
    position: absolute;
    top: 135px;
    right: 30px;
    background: linear-gradient(90deg, #012A4A, #034078);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.quickLinksDropDown.show {
    visibility: visible;
    opacity: 0.90;
}

.quickLinksDropDown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.quickLinksDropDown li {
    margin: 0;
    display: block;
    padding: 20px;
}

.quickLinksDropDown a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.quickLinksDropDown a:hover {
    background-color: #F0F0F0;
    color: #012A4A;
    border-radius: 5px;
}

.transactDropDown, .buyDropDown, .applyDropDown {
    display: flex;
    position: absolute;
    padding: 20px;
    background: linear-gradient(90deg, #012A4A, #034078);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.transactDropDown.show, .buyDropDown.show, .applyDropDown.show {
    visibility: visible;
    opacity: 0.95;
}

.transactDropDown ul, .buyDropDown ul, .applyDropDown ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 20px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.transactDropDown h3, .buyDropDown h3, .applyDropDown h3 {
    margin: 0;
    display: block;
    padding: 12px;
    text-align: left;
}

.transactDropDown li, .buyDropDown li, .applyDropDown li {
    margin: 0;
    display: block;
    padding: 7px;
    text-align: left;
}

.transactDropDown a, .buyDropDown a, .applyDropDown a {
    color: white;
    padding: 5px 5px;
    margin: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.transactDropDown a:hover, .buyDropDown a:hover, .applyDropDown a:hover {
    background-color: #F0F0F0;
    color: #012A4A;
    border-radius: 5px;
}

@media (max-width: 900px) {

    .logo {
        margin-bottom: 20px;
    }
    .navbar, .auth {
        display: none;
    }
    .hamburger {
        display: block;
    }
    
}